/* :root {
    --azul:#fff;
    --color-text: #D75438;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: caveat;
}
body {
    background-color:var(--azul);
}

header {
    background-color: bisque;
    color:var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    
    color:var(--color-text);
    text-decoration: none;

}

nav  {
    display: flex;
    gap: 20px;
} */

/* cursor pointer */

/* display: flex; organiza en horizontal por defecto
align-items: center; organiza en el eje y
justify-content: center; organiza en el eje x */

/* .cine {
display: flex; organiza en vertical por defecto
flex-direction: column; 
align-items: center; organiza en el eje x
justify-content: center; organiza en el eje y
} */
